<div class="card" style="margin:2.5rem">
  <table>
    <tr class="bg-light">
      <td>#speakers</td><td><%= report.speakers_count %></td>
    </tr>
    <tr>
      <td>#keynotes</td><td><%= report.keynotes_count %></td>
    </tr>
    <tr>
      <td>#talks</td><td><%= report.talks_count %></td>
    </tr>
    <tr>
      <td>#workshops</td><td><%= report.workshops_count %></td>
    </tr>
    <tr>
      <td>#panels</td><td><%= report.panels_count %></td>
    </tr>
  </table>
</div>
